<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586723330577-ce4kvraqr34chvcco86s5tjs7o0q1rc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586723330577-ce4kvraqr34chvcco86s5tjs7o0q1rc1</string>
	<key>API_KEY</key>
	<string>AIzaSyAzNs_cRtwrUhNbqzHnbHlbm8hUOlzzR7A</string>
	<key>GCM_SENDER_ID</key>
	<string>586723330577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niloybiswas.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-backend-bab1c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-backend-bab1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586723330577:ios:cb78b75d6d3b579b93ffb0</string>
</dict>
</plist>